{% extends 'pages/page.html' %}
{% load l10n i18n mezzanine_tags %}

{% block meta_title %}Consiglio Comunale {{ object.performance_date|date:"d/m/Y" }}{% endblock %}

{% block main %}
    {{ block.super }}

    <div class="page-header text-center">
        <h1>{{ object.title }}</h1>
    </div>
    <!--{{object}}-->

    <div class="embed-responsive embed-responsive-16by9 text-center">
        {% if object.youtube_video_embed_url %}
        <iframe class="embed-responsive-item" type="text/html" width="{{ app_settings.PAGES4GOV_YOUTUBE_EMBED_WIDTH }}" height="{{ app_settings.PAGES4GOV_YOUTUBE_EMBED_HEIGHT }}"
            src="{{ object.youtube_video_embed_url }}?{{ app_settings.PAGES4GOV_YOUTUBE_URL_QUERY }}" allowfullscreen></iframe>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il Consiglio Comunale inizierà alle ore <strong>{{ object.performance_date|date:"H:i" }}.</strong>
                <br /><br />
                A breve sarà online la trasmissione in diretta streaming.
            </div>
        {% endif %}
    </div>

    <div class="btn-group btn-group-justified" style="margin-top: 15px;">
        {% if object.news_url %}
        <a href="{{ object.news_url }}" class="btn btn-info" role="button" title="Vai al {{ object.title }}">
            Ordine del giorno &raquo;
        </a>
        {% endif %}
        {% if object.youtube_video_url %}
        <a href="{{ object.youtube_video_url }}" class="btn btn-success" role="button" title="Vai al {{ object.title }}">
            Youtube &raquo;
        </a>
        {% endif %}
    </div>

    <div style="margin-top: 20px;">
        {{ object.content|richtext_filters|safe }}
    </div>

{% endblock %}>
